 <div class="card mt-4 shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h1 class="text-warning">Título: {{postagem.titulo}}</h1>
            <small>Data de criação: {{postagem.data}}</small>
            <hr>
            <h4>{{postagem.conteudo}}</h4>
        </div>
    </div>
